* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

canvas#myChart {
    height: 100vh !important;
}

.past-matches {
    position: absolute;
    left: 20px;
    top: 10px;
    z-index: 1;
}

select {
    font-size: 12px;
    width: 90px;
}

label {
    font-size: 9px;
    font-family: sans-serif;
    text-transform: uppercase;
    display: block;
}

.download {
    position: absolute;
    top: 10px;
    width: 90px;
}

.download.hide {
    display: none;
}

.download button {
    padding: 2px 5px;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 0.2px;
}

.chart-container {
    position: relative;
}

.disclaimer {
    position: fixed;
    z-index: 10;
    top: 30px;
    left: 15px;
    width: 300px;
    max-width: calc(100vw - 30px);
    padding: 15px 20px;
    background: #141414;
    border: 2px solid #fafafa;
}

.disclaimer.hide {
    display: none;
}

.disclaimer p {
    font-size: 12px;
    color: #fafafa;
    font-family: sans-serif;
}

.disclaimer button {
    position: absolute;
    right: -15px;
    top: -15px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    border-radius: 20px;
    background: #141414;
    border: 2px solid #fafafa;
    color: #fafafa;
}

@media screen and (max-width: 600px) {
    .container {
        width: 250vw;
    }
}